SYNTHA_V2_DATABASE_URL=postgresql://syntha:syntha_local@127.0.0.1:5434/syntha_v2
HOST=127.0.0.1
PORT=4100
SYNTHA_DB_POOL_MAX=10
SYNTHA_DB_READY_ATTEMPTS=30
SYNTHA_DB_READY_DELAY_MS=1000
SYNTHA_SESSION_TTL_MS=43200000
SYNTHA_AUTH_MAX_FAILURES=5
SYNTHA_AUTH_WINDOW_MS=900000
SYNTHA_AUTH_BLOCK_MS=900000
SYNTHA_REVOKED_SESSION_RETENTION_MS=604800000
SYNTHA_BOOTSTRAP_EMAIL=owner@syntha.local
SYNTHA_BOOTSTRAP_PASSWORD=replace-with-at-least-12-characters
SYNTHA_BOOTSTRAP_NAME=Syntha Owner
SYNTHA_BOOTSTRAP_ORGANISATION=Syntha Brand
SYNTHA_BOOTSTRAP_ORGANISATION_TYPE=brand
